!assets/.gitignore
protected/runtime/*
docker/development/postgresql/data
docker/development/mysql/data
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/
web/pants
web/label
.idea
vendor
#*.sql